* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.581));
	padding: 2rem;

	display: flex;
	justify-content: center;
	align-items: baseline;
}

#cadastrarLinha {
	background: white;
	padding: 1rem;
	border: none;
	border-radius: 0.5rem;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.378);

	width: 50%;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

/* urlCamposWrapper */
#cadastrarLinha .urlCamposWrapper {
	display: flex;
	gap: 0.3rem;
}
#cadastrarLinha .urlCamposWrapper input:nth-child(1) {
	width: 70%;
}
#cadastrarLinha .urlCamposWrapper input:nth-child(2) {
	width: 30%;
}

/* btnCamposWrapper */
#cadastrarLinha .btnCamposWrapper {
	display: flex;
	gap: 0.3rem;
}
#cadastrarLinha .btnCamposWrapper input:nth-child(1) {
	width: 70%;
}
#cadastrarLinha .btnCamposWrapper input:nth-child(2) {
	width: 30%;
}

/* inputs e botão */
#cadastrarLinha input {
	width: 100%;
	padding: 0.5rem;
}
#cadastrarLinha button {
	padding: 0.5rem;
}

/* campos dinâmicos */
.camposDinamicosInputWrapper,
.camposPadroesInputWrapper {
	display: flex;
	gap: 0.3rem;
}
.camposDinamicosInputWrapper input:nth-child(1),
.camposPadroesInputWrapper input:nth-child(1) {
	width: 80% !important;
}
.camposDinamicosInputWrapper input:nth-child(2),
.camposPadroesInputWrapper input:nth-child(2) {
	width: 20% !important;
}
